# Library and cache/log
/vendor/
/cache/*
/logs/*
silex.log

# Content Folder
/web/uploads/*

# Config Files
dandelion.yml
composer.lock
composer.phar
Config/config.yml

# Git file
!.gitkeep

web/js/SoapManager.js
