{% extends "html.twig" %}

{% block title %}Contacts{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div id="contact-panel" class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Contacts</span>
                <ul class="pull-right c-controls">
                    <li><a id="addContact" data-target="#addContactModal" data-toggle="modal"  data-placement="top" title="Ajouter un contact"><i class="fa fa-plus"></i></a></li>
                    <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Rechercher un contact"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>

            <div class="row" style="display: none;">
                <div class="col-xs-12">
                    <div class="input-group c-search">
                        <input type="text" class="form-control" id="contact-list-search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <ul class="list-group" id="contact-list"></ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        Bon je verrais pour foutre un texte ici un jour...
    </div>

    <div class="col-xs-12 col-sm-8">
        <div id="demande-panel" class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Demandes de contact</span>
            </div>

            <ul class="list-group" id="demande-list"></ul>
        </div>
    </div>
</div>

{% include 'contact/addContactModal.twig' %}



{% endblock %}

