
<div class="row">
    <form id="add-contact" role="form" action="" method="post" >
        <div class="col-lg-12">
            <div class="well well-sm"><strong><i class="fa fa-check form-control-feedback"></i> Champs requis</strong></div>
            <div class="form-group">
                <label for="InputName">Nom</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Entrer Nom" required>
                    <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Entrer Prénom" required  >
                    <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label for="InputEmail">Téléphone</label>
                <div class="input-group">
                    <input type="phone" class="form-control" id="InputPhone" name="InputPhone" placeholder="Entrer Téléphone" required  >
                    <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label for="InputEmail">Adresse</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="InputLocation" name="InputLocation" placeholder="Entrer Adresse" required  >
                    <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Ajouter le contact" class="btn btn-info pull-right">
        </div>
    </form>
</div>