{% extends "blocks/modal.twig" %}

{% block idModal %}addEventModal{% endblock %}
{% block titleModal %}Ajouter un évènement{% endblock %}
{% block idFormModal %}formAddEvent{% endblock %}
{% block idContentModal %}contentAddEvent{% endblock %}
{% block bodyModal %}

    {% include 'blocks/inputModal.twig' with {'label': 'Titre',    'idInput' : 'title',        'type' : 'text'} %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        {% include 'blocks/inputModal.twig' with {'label': 'Début',    'idInput' : 'startDate',    'type' : 'text'} %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        {% include 'blocks/inputModal.twig' with {'label': 'Fin',      'idInput' : 'endDate',      'type' : 'text'} %}
    </div>
</div>
    
    {% include 'blocks/inputModal.twig' with {'label': 'Lieu',     'idInput' : 'location',     'type' : 'text'} %}

{% endblock %}

{% block idSubmitModal %}do_addEvent{% endblock %}
