{#{% extends "html.twig" %}#}

{% block title %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div id="loadCalendar"></div>
        </div>
        <div class="col-xs-12 col-md-6">
            Vous pouvez facilement : 
            <ul>
                <li>Gérer vos évènements</li>
                <li>Partager des évènements avec vos amis</li>
                <li>Supprimer des évènements</li>
            </ul>

            <div class="pull-down">
                <button id="addEvent" data-toggle="modal" data-target="#addEventModal" type="button" class="btn btn-info btn-block">Ajouter un évènement</button>
                <button disabled id="shareEvent" data-toggle="modal" data-target="#shareEventModal" type="button" class="btn btn-primary btn-block">Partager des évènements</button>
                <button disabled id="deleteEvent" data-toggle="modal" data-target="#deleteEventModal" type="button" class="btn btn-danger btn-block">Supprimer des évènements</button>
            </div>
        </div>
    </div>


    {% include'addEventModal.twig' %}
    {% include'shareEventModal.twig' %}
    {% include'deleteEventModal.twig' %}

{% endblock %}

