{% extends "html.twig" %}

{% block title %}RemindMe{% endblock %}

{% block content %}
    <p>
        Ranger sa chambre, donner à manger aux chiens, voir un ami, inviter nos amis ... 
        Nous avons tous des habitudes, des devoirs, des obligations mais aussi des promesses et des idées à garder en tête. 
        Seulement notre mémoire est joueuse et a beaucoup de tours dans son sac. 
        Ce qui est banal tout comme ce qui est important est susceptible d’être oublié.
    </p>

    <p>
        Seulement parmi nous, certains ont un handicap ou une maladie ramenant ce qui 
        nous arrive rarement à leurs quotidien et qui souffrent de ce que l’on trouve 
        normal, tel que d'oublier un rendez vous par exemple.
        Nous avons donc eu l'idée de créer l’application "RemindMe", bien entendu 
        un post it n'était pas de trop pour ne pas oublier ce nom que nous avons choisi.
    </p>

    <p>
        La question était justement de savoir comment remplacer le post-it par 
        une application plus efficace. Les vibrations de nos smartphones furent 
        notre réponse : transporter, sauvegarder, rappeler, et partager notre mémoire.
        En effet l'application propose plusieurs fonctionnalités :

        Enregistrer un rappel programmée pour une heure donnée.
        Partager nos enregistrements avec les personnes de notre choix.
        Enregistrer un rappel pour un ami.
        Gérer les rappels d’un proche à distance.
    </p>

    <p>
        Mais cela est bien trop simple et existe déjà sur le marché des applications,
        nous avons donc ajouté la géolocalisation des rappels: un rappel peut être activé
        lorsqu'on se trouve près d'un endroit défini comme par exemple le code de la porte de son immeuble.
    </p>

    <p>
        Cette idée de créer RemindMe est venu de notre besoin d'aider les autres, 
        mais également parce que chacun de nous cinq est fortement concerné par le 
        but de notre application : aider des proches atteints de maladies incurables
        tel que la maladie d'alzheimer, des amis ayant un handicap, ou tout simplement 
        les tête en l'air.
    </p>
    
    <h4>Que pouvez-vous faire depuis ce site ?</h4>
    
    <p>
        Grâce à l'application web RemindMe, vous allez pouvoir gérer facilement une liste de contacts ainsi que votre agenda.
    </p>
    
    <h4>Gérez votre agenda</h4>
    
    <p>
        Vous pouvez très facilement ajouter et supprimer des évènements dans votre agenda personnel.
    </p>
    
    <h4>Gérez vos contacts</h4>
    
    <p>
        Vous pouvez très facilement ajouter et supprimer des évènements dans votre agenda personnel.
    </p>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="auth-info" style="display: none;">
        <span>{{ user.token }}</span>
        <span>{{ user.sessionexpire }}</span>
        <span>{{ user.id }}</span>
        <span>{{ webservice.host }}</span>
    </div>
    {% endif %}
{% endblock %}

