<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title '' %} - RemindMe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">

        <link href="css/flatly.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/ladda-themeless.min.css">

        <link href="css/general.css" rel="stylesheet" type="text/css">
        <link href="css/contacts.css" rel="stylesheet" type="text/css">
        <link href="css/register.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        {% include 'top_menu.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    {% include 'left_menu.twig' %}
                </div>
                <div class="col-xs-12 col-md-10 well">
                    {% block content %}{% endblock %}
                    {# Temporary #}
                    {#{% include 'remindme.twig' %}#}
                </div>
            </div>
        </div>

    <!-- Javascript -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="js/kalendar.js"></script>
    <script src="js/jquery.soap.js"></script>
    <script src="js/SoapManager.js"></script>
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
    <script src="js/jquery.confirm.min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/ladda.min.js"></script>
    <script src="js/functions.js"></script>
</body>
</html>
