<ul id="left_menu" class="nav nav-pills nav-stacked">
    <li><a id="home" role="button"><i class="fa fa-home fa-fw"></i>Home</a></li>
    <li><a id="calendar" role="button"><i class="fa fa-calendar fa-fw"></i>Mon Agenda</a></li>
    <li><a id="contacts" role="button"><i class="fa fa-users fa-fw"></i>Mes amis</a></li>
    <li><a id="options" role="button"><i class="fa fa-cogs fa-fw"></i>Options</a></li>
</ul>
