<div class="modal fade" id="{% block idModal %}{% endblock %}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form role="form" id="{% block idFormModal %}{% endblock %}">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2>{% block titleModal %}{% endblock %}</h2>
                            <hr class="colorgraph">
                            
                            <div id="{% block idContentModal %}{% endblock %}">
                                {% block bodyModal %}{% endblock %}
                            </div>
                            
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12"><button type="submit" id="{% block idSubmitModal %}{% endblock %}" class="btn btn-primary btn-block ladda-button" data-style="zoom-out" data-spinner-size="35"><span class="ladda-label">Valider</span></button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>