{% extends "modal.twig" %}

{% block idModal %}registerModal{% endblock %}
{% block titleModal %}Inscrivez-vous !{% endblock %}
{% block bodyModal %}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'inputModal.twig' with {'label': 'Prénom', 'idInput' : 'firstName', 'type' : 'text'} %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'inputModal.twig' with {'label': 'Nom', 'idInput' : 'lastName', 'type' : 'text'} %}
        </div>
    </div>
    {% include 'inputModal.twig' with {'label': 'Pseudo', 'idInput' : 'pseudo', 'type' : 'text'} %}

    {% include 'inputModal.twig' with {'label': 'Mail', 'idInput' : 'mail', 'type' : 'mail'} %}
    <div class="form-group">
        <select class="form-control">
            <option>Utilisateur</option>
            <option>Administration</option>
        </select>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'inputModal.twig' with {'label': 'Mot de passe', 'idInput' : 'password', 'type' : 'password'} %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'inputModal.twig' with {'label': 'Confirmer le mot de passe', 'idInput' : 'password2', 'type' : 'password'} %}
        </div>
    </div>
{% endblock %}
{% block idSubmitModal %}do_register{% endblock %}