<div class="navbar navbar-default">
    <div id="top_menu" class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="remindme" class="navbar-brand" role="button">RemindMe</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul id="top_navbar" class="nav navbar-nav">
                    <li><a id="contactUs" role="button">Nous contacter</a>
                    </li>
                    <li><a id="aboutUs" role="button">A propos</a>
                    </li>
                </ul>
                <form  action="{{ path('user_dologin') }}" class="navbar-form navbar-right" method="POST">
                    <div class="form-group">
                        {{form_widget(form.username,{ 'attr': {'placeholder': 'Nom d\'utilisateur' } })}}
                    </div>
                    <div class="form-group">
                        {{form_widget(form.password,{ 'attr': {'placeholder': 'Mot de passe' } })}}
                    </div>
                    <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">Se connecter</button>
                    <button id="register" data-toggle="modal" data-target="#registerModal" type="button" class="btn btn-warning">S'inscrire</button>
                </form>
            </div>
        </center>
    </div>
</div>

{% include 'registerModal.twig' %}