{% extends "html.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div id="loadCalendar"></div>
        </div>
        <div class="col-xs-12 col-md-5">
            Vous pouvez facilement : 
            <ul>
                <li>Gérez vos évènements</li>
                <li>Partagez des évènements avec vos amis</li>
                <li>Supprimez des évènements</li>
            </ul>

            <div class="pull-down">
                <button id="addEvent" data-toggle="modal" data-target="#addEventModal" type="button" class="btn btn-info btn-block">Ajoutez un évènement</button>
                <button disabled id="shareEvent" data-toggle="modal" data-target="#shareEventModal" type="button" class="btn btn-primary btn-block">Partagez des évènements</button>
                <button disabled id="deleteEvent" data-toggle="modal" data-target="#deleteEventModal" type="button" class="btn btn-danger btn-block">Supprimez des évènements</button>
            </div>
        </div>
    </div>


    {% include'rappel/addEventModal.twig' %}
    {% include'rappel/shareEventModal.twig' %}
    {% include'rappel/deleteEventModal.twig' %}

{% endblock %}

