<IfModule mod_rewrite.c>
    Options -MultiViews
    Options +FollowSymlinks
    SetEnv APP_ENV dev
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ app.php [L]
</IfModule>
